---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- if site.show_excerpts -%}
          <div style="clear: both; margin-bottom: 2em; overflow: auto;">
            <div style="float: left; margin-right: 2em;">
              <img src="{{site.baseurl}}/assets/{{post.pic}}" alt="" width="220" height="220">
            </div>
            <div>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {{ post.excerpt | strip_html | append: "..." }} <a href = "{{site.baseurl}}{{post.url}}">read more</a> <br/>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>
          </div>
          <hr style="border: 1px solid rgb(240, 240, 240);">
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
